doctype html
html(lang='ru')
  head
    title Eater
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='keywords', content='доставка,еда,правильное,питание,Одесса,еда,надом,сбалансированное,питание,здоровая,еда,как,похудеть,диета,eater')
    meta(name='description', content='Доставка сбалансированного питания с ограниченной калорийностью в городе Одесса')
    meta(name='subject', content='Доставка здорового питания')
    meta(name='language', content='ru')
    meta(name='classification', content='business')
    meta(name='designer', content='Andre K.')
    meta(name='reply-to', content='eater.in.ua@gmail.com')
    meta(name='owner', content='Ирина Летинская')
    meta(property='og:url', content='http://www.eater.in.ua/')
    meta(property='og:title', content='Eater')
    meta(property='og:description', content='Доставка сбалансированного питания с ограниченной калорийностью в городе Одесса')
    meta(property='og:site_name', content='Eater')
    meta(property='og:image', content='http://eater.in.ua/img/covereater.png')
    meta(property='og:type', content='website')
    meta(property='og:locale', content='ru_Ru')
    meta(itemprop='name', content='Eater')
    meta(itemprop='description', content='Доставка сбалансированного питания с ограниченной калорийностью в городе Одесса')
    meta(itemprop='image', content='http://eater.in.ua/img/covereater.png')
    script(src='js/modernizr.js')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-82328766-1', 'auto');
      ga('send', 'pageview');
    link(href='css/app.css', rel='stylesheet', type='text/css')
    link(href='https://use.fontawesome.com/releases/v5.0.8/css/all.css', rel='stylesheet')


  body.load
    
    
    .box-features
      .container
        .row
          .col-md-12
            .slider-features-style
              .item
                p 
                  |получи скидку -5% при заказе меню от 5 дней
              .item
                p получи скидку -10% при заказе меню от 20 дней
              .item
                p закажите доставку 2-х программ на один адрес - получите скидку!
    section.style-hero
      .container-fluid
        .row
          .col-md-6.col-sm-12
            .logo-box
              a.logo(href='/')
                img(src='img/logo_black.png', alt='')
            .logo-box-white
              a.logo(href='/')
                img(src='img/logo_min-white.png', alt='')
        .row
          .col-md-4.col-xs-12.menu-style-box
            h4 
              b eater 
              |— это проект для людей, которые хотят правильно, регулярно и разнообразно питаться в течение всего дня, не тратя при этом ни сил, ни времени.
            a.btn(href="#update-menu") смотреть меню
            br
            a.btn(href="#link-to-form") наши цены
            br
            a.btn(href="#link-to-form") закзать
            br
            button.sms-call
              span.open-sms позвонить мне
              img(src="img/style/call.png", alt="")
          .col-md-3.col-xs-12.phone-box
            p.social-box
              a(href='https://www.instagram.com/eater.od')
                i.fab.fa-instagram
              a(href='https://www.facebook.com/eater.od/?fref=ts')
                i.fab.fa-facebook-f
              a(href='https://www.instagram.com/eater.od')
                i.fab.fa-viber
            br
            p одесса
            br
            p
              |068 551 19 55
              br
              |073 559 11 55

        
      
        

      .hover-slider
        .hover-item
          .bg(style="background-image: url(img/style/a2.jpg)")
        .hover-item
          .bg(style="background-image: url(img/style/1.jpg)")
        .hover-item
          .bg(style="background-image: url(img/style/4.jpg)")
        .hover-item
          .bg(style="background-image: url(img/style/15.jpg)")
        .hover-item
          .bg(style="background-image: url(img/style/11.jpg")
        .hover-item
          .bg(style="background-image: url(img/style/6.jpg)")
        .hover-item
          .bg(style="background-image: url(img/style/8.jpg)")
        .hover-item
          .bg(style="background-image: url(img/style/3.jpg)")
        .hover-item
          .bg(style="background-image: url(img/style/2.jpg)")
        .hover-item
          .bg(style="background-image: url(img/style/a1.jpg)")
          
              
          
          
    
          
      
    
    input#first(value="6/23/2017")
    
    
    section#update-menu.update-menu
      .container-fluid
        .row
          .col-md-12.text-center
            h2.title-style
              | меню по дням
            br
          .col-md-12
            include menu6
      
      
      
      
      
      
    section.update-form#link-to-form
      .container
        
        .row
          .col-md-12.text-center
            h2.title-style размер и цена
            br
        .row
          
          .col-md-3.col-sm-6.col-xs-6
            label.price-check-style
              input.radio(type='radio', name='calories', value='1200 кКал / Маленькое / 340грн')
              span.input-circle
                p 1200 кКал
                h2 S
                h4
                  |370 
                  span грн/в день
          .col-md-3.col-sm-6.col-xs-6
            label.price-check-style
              input.radio(type='radio', name='calories', value='1800 кКал / Среднее / 360грн' checked="")
              span.input-circle
                p 1500 кКал
                h2 M
                h4
                  |380 
                  span грн/в день
          .col-md-3.col-sm-6.col-xs-6
            label.price-check-style
              input.radio(type='radio', name='calories', value='2000 кКал / Среднее / 360грн')
              span.input-circle
                p 2000 кКал
                h2 L
                h4
                  |400 
                  span грн/в день
          .col-md-3.col-sm-6.col-xs-6
            label.price-check-style
              input.radio(type='radio', name='calories', value='2400 кКал / Большое / 400грн')
              span.input-circle
                p 2600 кКал
                h2 X
                h4
                  |440 
                  span грн/в день
          
          
        .row
          .col-md-12.text-center
            h3.subtitle-style дополнительное меню
            br
          .col-md-6.col-sm-12.col-xs-12
            label.price-check-style.trial-day-style
              input.radio(type='radio', name='calories', value='Trial lunch')
              span.input-circle
                .row
                  .col-sm-2.col-xs-3
                    img(src="img/style/trial.png", alt="")
                  .col-sm-6.col-xs-9
                    h3
                      span 1200 кКал
                      |Пробный день
                  .col-sm-4.col-xs-12.text-right
                    h4.serif
                      |300 
                      span грн
                .row
                  .col-xs-6
                    p
                      b В стоимость пробного дня входит 5 приемов пищи и доставка по Одессе.
                  .col-xs-6
                    p
                      | Калорийность пробного дня - 1200 кКал. Заказать "пробный день" можно только один раз.
              
          .col-md-6.col-sm-12.col-xs-12
            label.price-check-style.smart-lunch-style
              input.radio(type='radio', name='calories', value='Smart lunch')
              span.input-circle
                .row
                  .col-sm-2.col-xs-3
                    img(src="img/style/smart.png", alt="")
                  .col-sm-6.col-xs-9
                    h3
                      span 1600 кКал
                      |Smart lunch
                  .col-sm-4.col-xs-12.text-right
                    h4.serif 
                      |200 
                      span грн
                .row
                  .col-xs-6
                    p
                      b Smart Lunch - для тех, кто хочет питаться здоровой пищей в офисе
                  .col-xs-6
                    p 
                      |Программа включает перекус 1, обед и перекус 2, чтобы перестать употреблять нездоровую пищу в офисе.

        
        
        
        .row.time-and-date-style
          .col-md-12
            br
            h2.title-style время и день начала доставки
            br
          .col-md-6.col-sm-12
            .form-select-box
              select(name='days')
                option(disabled) выбрать время
                option 06:30 - 07:00
                option 07:00 - 07:30
                option 07:30 - 08:00
                option 08:00 - 08:30
                option 08:30 - 09:00
                option 09:00 - 09:30
                option 09:30 - 10:00
                option 10:00 - 10:30
                option 11:00 - 11:30
                option 11:30 - 12:00
          .col-md-3.col-sm-6.col-xs-12.data-style
            .row
              .col-xs-6
                .inputs-boxes
                  input#tomorrow(type='radio', name='date', value='завтра')
                  label
                    | завтра 
              .col-xs-6
                .inputs-boxes
                  input#ponedelnik(type='radio', name='date', value='в понедельник')
                  label
                    | в пон.
          .col-md-3.col-sm-6.col-xs-12.data-style
            img(src="img/style/calendar.png", alt="")
            input#date-dostavki.data-pick(data-toggle="datepicker", placeholder="дата",)
                    
                    
              
        .row.bottom-form-inputs
          .col-md-12
            br
            h2.title-style количество дней
            br
          .col-md-4
            .inputs-boxes
              input(type='radio', name='days', value='1 день')
              label.box-days
                span 1 
                | день 
          
          .col-md-4
              
            .inputs-boxes
              input(type='radio', name='days', value='5 дней')
              label.box-days
                span 5
                | дней
          .col-md-4
            .inputs-boxes
              input(type='radio', name='days', value='10 дней')
              label.box-days
                span 20
                | дней
 
        
        .row
          .col-md-12.text-center
            br
            h2.title-style данные для доставки
            br
        
        .row
          .col-md-12
            input(name='subject', type='hidden', value='Eater: форма заказа')
            .row.form-text-inputs
              .col-md-6
                input(name='username', type='text', placeholder="имя и фамилия")
              .col-md-6
                input#phone(name='phone', type='text', placeholder="номер телефона")
              .col-md-8.col-sm-8
                input(name='ulitsa', type='text', placeholder="улица")
              .col-md-2.col-sm-2
                input(name='dom', type='text', placeholder="дом")
              .col-md-2.col-sm-2
                input(name='kvartira', type='text', placeholder="кв.")
        .row
          .col-md-12.comment-box
            textarea#comment(name="comment", placeholder="оставить комментарий...")
            label#call-me
              input.radio(type="checkbox" name="callme")
              span Перезвонить для уточнения деталей  
        
        
        .row
          .col-md-12
            .form-item-submit
              input#send_form(type='submit', name='submit', value='Отправить')
      
  
                
    
    #modal_send_ifcomplete
      p
        | Заявка отправлена
        br
        span спасибо что выбрали нас
    
    .modal-overlay
      .sms-call.modall
      .modal-box
        #call_modal
          h4 Оставте Ваше имя и номер телефона. В ближайшее время мы Вам перезвоним
          .form-item-modal
            label Имя
            input#call_username.serif(type='text')
            input#call_subject(type='hidden', name='subject', value='Обратный звонок')
          .form-item-modal
            label Телефон
            input#call_phone.serif(type='text')
          button#call_send.call-me Перезвоните мне
        #call_ifcomplete
          p
            | Спасибо :)
            br
            span Заявка отправлена
    footer
      a.dev-link(href='a.d10.ch')
        img(src='img/andrelogo.png', alt='')
      .container
        .row.mega-title
          .col-md-4
            img.logo-in-footer(src='img/logo_white.png', alt='')
          .col-md-7.col-md-offset-1
            h2.serif
              | EATER - возможность избавить себя от утомительных походов в магазин, ежедневного приготовления еды и
              | подсчета каллорий.
            .row.all-text
              .col-md-4
                h5.mini-title Контакты
                p 068 551 19 55
                p 073 559 11 55 
                a(href='') eater.in.ua@gmail.com
              .col-md-4
                h5.mini-title Люди
                .row
                  .col-sm-4.col-xs-6
                    .circle-img(style='background-image: url(img/cir.jpg)')
                  .col-sm-8.col-xs-6.text-left
                    h4
                      | Ира 
                      br
                      | Летинская
                .row
                  .col-xs-12
                    h6 Организатор, владелец
              .col-md-4.social
                h5.mini-title Соц.сети
                p Следите за нами в соцсетях!
                a(href='https://www.instagram.com/eater.od')
                  i.fab.fa-instagram
                a(href='https://www.facebook.com/eater.od/?fref=ts')
                  i.fab.fa-facebook-f
                a(href='https://www.instagram.com/eater.od')
                  i.fab.fa-viber
                
    script(src='js/scripts-min.js')
    
    // script(src='js/bootstrap.min.js')
    script(src='js/mask.js')
    script(src='js/datepicker.js')
    script(src='js/app.js')
    script(src='control.js')

