.slider-ten-days
  .item
    .menu-item.day-1
      .menu-info
        h2 
          span Меню
          |1
          
        span.date
      .menu-names
        .menu-name-title
          h4
            span Завтрак
        .menu-name-item
          p Каша гречневая с яйцом-пашот и оливковым маслом
        .menu-name-title
          h4
            span Перекус 1
        .menu-name-item
          p Творожная запеканка с сметанным соусом 
        .menu-name-title
          h4
            span Обед
        .menu-name-item
          p Салат Коул-слоу
          p Бризоль куриная с грибами & рис с овощами
        .menu-name-title
          h4
            span Перекус 2 
        .menu-name-item
          p Салат "Цезарь с индейкой"
        .menu-name-title
          h4
            span Ужин
        .menu-name-item
          p Запечённая белая рыба & стручковая фасоль
      








  .item
    .menu-item.day-2
      .menu-info
        h2 
          span Меню
          |2
        span.date
      .menu-names
        .menu-name-title
          h4
            span Завтрак
        .menu-name-item
          p Яичница-болтунья & свежие овощи
        .menu-name-title
          h4
            span Перекус 1
        .menu-name-item
          p Клаб-сэндвич с домашней малосольной брынзой
        .menu-name-title
          h4
            span Обед
        .menu-name-item
          p Салат "Витаминный"
          p Паста с морепродуктами
        .menu-name-title
          h4
            span Перекус 2 
        .menu-name-item
          p Творог с сезонными фруктами
        .menu-name-title
          h4
            span Ужин
        .menu-name-item
          p Салат с замеченной говядиной
      
  
  
  
  
  
  
  
  .item
    .menu-item.day-3
      .menu-info
        h2 
          span Меню
          |3
        span.date
      .menu-names
        .menu-name-title
          h4
            span Завтрак
        .menu-name-item
          p Медовая гранола с орехами & молоко
        .menu-name-title
          h4
            span Перекус 1
        .menu-name-item
          p Домашний йогурт с финиками 
        .menu-name-title
          h4
            span Обед
        .menu-name-item
          p Сезонные фрукты
          p Котлеты курино-говяжьи & кус кус
        .menu-name-title
          h4
            span Перекус 2 
        .menu-name-item
          p Хумус с овощными палочками
        .menu-name-title
          h4
            span Ужин
        .menu-name-item
          p Индейка гриль с тушеными яблоками
      
        
        
        
  .item
    .menu-item.day-4
      .menu-info
        h2 
          span Меню
          |4
        span.date
      .menu-names
        .menu-name-title
          h4
            span Завтрак
        .menu-name-item
          p Сырники с ягодным соусом
        .menu-name-title
          h4
            span Перекус 1
        .menu-name-item
          p Паштет из гусиной печени с хлебцами
        .menu-name-title
          h4
            span Обед
        .menu-name-item
          p Винегрет (light)
          p Телятина тушёная с овощами & гречка
        .menu-name-title
          h4
            span Перекус 2 
        .menu-name-item
          p Запечённое яблоко с орехами и медом
        .menu-name-title
          h4
            span Ужин
        .menu-name-item
          p Шашлычок куриный с овощами гриль
      
        
        
        
        
  .item
    .menu-item.day-5
      .menu-info
        h2 
          span Меню
          |5
        span.date
      .menu-names
        .menu-name-title
          h4
            span Завтрак
        .menu-name-item
          p Омлет со шпинатом & тосты с авокадо
        .menu-name-title
          h4
            span Перекус 1
        .menu-name-item
          p Апельсин с мёдом и орехами
        .menu-name-title
          h4
            span Обед
        .menu-name-item
          p Салат с сыром Фета 
          p Перец фаршированный с куриным филе
        .menu-name-title
          h4
            span Перекус 2 
        .menu-name-item
          p Десерт "Рафаелло" (light)
        .menu-name-title
          h4
            span Ужин
        .menu-name-item
          p Хек в томатном соусе & салатный микс
      
        
        
        
        
  .item
    .menu-item.day-6
      .menu-info
        h2 
          span Меню
          |6
        span.date
      .menu-names
        .menu-name-title
          h4
            span Завтрак
        .menu-name-item
          p Блинчики из ц/з муки с яблоком и корицей
        .menu-name-title
          h4
            span Перекус 1
        .menu-name-item
          p Яйца с фасолью в томатном соусе
        .menu-name-title
          h4
            span Обед
        .menu-name-item
          p Сезонные фрукты
          p Индейка в цитрусовом маринаде & булгур
        .menu-name-title
          h4
            span Перекус 2 
        .menu-name-item
          p Салат с огурцом и тыквенными семечками
        .menu-name-title
          h4
            span Ужин
        .menu-name-item
          p Запечённое куриное филе с творогом & салатный микс 
      
        
        
        
        
        
        
  .item
    .menu-item.day-7
      .menu-info
        h2 
          span Меню
          |7
        span.date
      .menu-names
        .menu-name-title
          h4
            span Завтрак
        .menu-name-item
          p Рисовый пудинг с творожным соусом
        .menu-name-title
          h4
            span Перекус 1
        .menu-name-item
          p Куриная запеканка с зеленью 
        .menu-name-title
          h4
            span Обед
        .menu-name-item
          p Салат из моркови и сельдерея
          p Скумбрия под овощами & печёный картофель
        .menu-name-title
          h4
            span Перекус 2 
        .menu-name-item
          p Салат с куриным филе, яблоком и кунжутом
        .menu-name-title
          h4
            span Ужин
        .menu-name-item
          p Воздушный омлет & свежие овощи
      
        
        
        
        
        
  .item
    .menu-item.day-8
      .menu-info
        h2 
          span Меню
          |8
        span.date
      .menu-names
        .menu-name-title
          h4
            span Завтрак
        .menu-name-item
          p Ленивые вареники с соусом 
        .menu-name-title
          h4
            span Перекус 1
        .menu-name-item
          p Чёрный бургер с телятиной и овощами
        .menu-name-title
          h4
            span Обед
        .menu-name-item
          p Салат "Греческий"
          p Котлетки из куриного филе с грибами & гречка
        .menu-name-title
          h4
            span Перекус 2 
        .menu-name-item
          p Салат с куриной печенью
        .menu-name-title
          h4
            span Ужин
        .menu-name-item
          p Говядина отварная  с тушёными грибами
      
        
        
        
        
        
        
  .item
    .menu-item.day-9
      .menu-info
        h2 
          span Меню
          |9
          
        span.date
      .menu-names
        .menu-name-title
          h4
            span Завтрак
        .menu-name-item
          p Овсяная крупа с сухофруктами
        .menu-name-title
          h4
            span Перекус 1
        .menu-name-item
          p Творожная запеканка с ягодным соусом
        .menu-name-title
          h4
            span Обед
        .menu-name-item
          p Салат "Летний"
          p Куриное филе с овощами & перловка
        .menu-name-title
          h4
            span Перекус 2 
        .menu-name-item
          p Отварные яйца со свежими овощами
        .menu-name-title
          h4
            span Ужин
        .menu-name-item
          p Салат с кальмарами под чесночным соусом
      
        
        
        
        
        
  .item
    .menu-item.day-10
      .menu-info
        h2 
          span Меню
          |10
        span.date
      .menu-names
        .menu-name-title
          h4
            span Завтрак
        .menu-name-item
          p Блинчики из ц/з муки с куриным филе и грибами
        .menu-name-title
          h4
            span Перекус 1
        .menu-name-item
          p Кокосовое печенье собственного приготовления
        .menu-name-title
          h4
            span Обед
        .menu-name-item
          p Сезонные фрукты
          p Куриное филе в азиатском соусе  & гречневая лапша
        .menu-name-title
          h4
            span Перекус 2 
        .menu-name-item
          p Салат "Цезарь с креветками"
        .menu-name-title
          h4
            span Ужин
        .menu-name-item
          p Индейка гриль с овощным миксом
      



